<div>
  <h2>Add a new task!</h2>
  <form [ngFormModel]="addForm" >
  <div>
    <label>id: </label>
    <input type="text" [(ngModel)]="new_id" disabled/>
  </div>
  <div>
    <label>Date: </label>
    <input placeholder="date" ngControl="task_date"/>
    <em *ngIf="!task_date.valid">Must be dd-MM-yyyy</em>
  </div>
  <div>
    <label>Name: </label>
    <input placeholder="name" ngControl="name" />
    <em *ngIf="!name.valid">Required</em>
  </div>
  <div>
    <label>Description: </label>
    <textarea placeholder="description" rows="4" cols="50" ngControl="description"></textarea>
    <em *ngIf="!description.valid">Required & minimum 10 characters</em>
  </div> 
  <div>
  	<label>Finised: </label>
	<select #status_input [(ngModel)]="done" (keyup)="done=status_input.value">
   	  <option [ngValue]="false">Not finished</option>
   	  <option [ngValue]="true">Finished</option>
	</select>
  </div>
  </form>
  <button (click)="goBack()">Back</button>
  <button *ngIf="name.valid && task_date.valid && description.valid"  (click)="Validate()">Add task</button>

</div>