h2 {
  color: #204060;
}

label {
  margin: .5em 0;
  color: #1C6EA5;
  font-weight: bold;
  display: inline-block;
  width: 100px;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #1C6EA5;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #449DD9;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}